@import url('https://fonts.googleapis.com/css2?family=Sanchez&family=Young+Serif&display=swap');
:root{
    --y:#BD7F07;
}
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}
/* body{
    margin-top: 60px;
} */
/* html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
} */
header{
    position: fixed;
    top: 0;left: 0;right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);    
}
header .logo {
    color: black;
    font-weight: bold;
    font-size: larger;
    font-family: 'Sanchez', serif;
 }
 
 header .navbar a{
     font-size: 15px;
     padding: 20px;
     color: black;
     font-weight: bold;
     font-family: 'Sanchez', serif;
 }
 header .navbar a:last-child{
     margin-left: 10px;
 }
 header .navbar a:hover{
     color: var(--y);
     border-bottom:2px solid var(--y) ;
 }
 header .navbar a.active{
     color: var(--y);
     border-bottom:2px solid var(--y) ;
 }
 .btn-contacter{
    padding: 10px 20px;
    border: solid;
    text-transform: uppercase;
}
.container{
--gap:8px;
--num-cols:8;
--row-height:100px;
box-sizing: border-box;
display: grid;
grid-template-columns: repeat(var(--num-cols),1fr);
grid-auto-rows: var(--row-height);
/* gap: var(--gap); */
column-gap: 20px;
row-gap: 15px;
margin-top: 40px;
margin-bottom: -100px;}

.container .video-grid{
    width: 80%;
    height: 80%;
    object-fit: cover;
    grid-column:5/10;
    grid-row:2/4;
}
.container .text-grid{
    width: 100%;
    height: 100%;
    /*responsive les images restes statique*/
    object-fit: cover;
    grid-column:1/4;
    grid-row:2/4;
    transform: translateX(20%);
}
/* .parg{
    width: 100%;
    height: 100%;
    /*responsive les images restes statique*/
    /* object-fit: cover;
    grid-column:2/4;
    grid-row:3/4;
} */
/* .titre{
    width: 100%;
    height: 100%; */
    /*responsive les images restes statique*/
    /* object-fit: cover;
    grid-column:2/4;
    grid-row:2/4;
} */ 
span{
    color: #BD7F07;
}
.titre{
    text-align: center;
    font-size: 30px;
}
.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 10rem;
    font-size: 3.5rem;
    color: #0c0c0c;
    margin-top: 15%;
}
.heading span{
    background: #BD7F07;
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%,7% 50%,0% 0%);
}
.about-grid{
    transform: translateY(-10%);
    margin-right: 20px;
    margin-left: 100px;
    text-align: center;
 
   }
.image-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    grid-gap: 6rem;
     margin-bottom: 200px;
    box-sizing: border-box;
}
.image-grid .img1{
    width: 300px;
    height: auto;
    /*responsive les images restes statique*/
    grid-column:1/2;
    grid-row:1/2;
}
.image-grid .img2{
    width: 300px;
    height: auto;
    /*responsive les images restes statique*/
    grid-column:2/3;
    grid-row:1/2;
}
.image-grid .img3{
    width: 300px;
    height:auto;
    /*responsive les images restes statique*/
    grid-column:3/5;
    grid-row:1/2;
}
p .foot{
    color: #fff;
}
.footerContent{
   margin-top: 500px;
   text-align: center;
   background-color: #BD7F07;
   padding: 20px;

}

